<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Układ strony</title>
    <link rel="stylesheet" href="css/style.4.css">
</head>
<body>
    <header>
        <div class="container">
            <div class="header_logo">Logo</div>
            <nav>
                <ul class="header_nav">
                    <li>Start</li>
                    <li>O nas</li>
                    <li>Kontakt</li>
                </ul>
            </nav>
        </div>  
    </header>
    <section>
        <div class="container">
            <div class="row">
                <div class="big_box big_box_left"></div>
                <div class="big_box big_box_right">
                    <div class="section_title">Tytuł strony</div>
                    <div class="section_text">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Labore esse asperiores obcaecati aperiam omnis error nemo aspernatur libero fugiat et illo veniam rem sint, illum eligendi tempore animi optio commodi.Consequuntur quidem esse harum modi illo error non laboriosam nisi dolore dicta ex voluptatem vitae mollitia nulla neque eligendi, natus quia unde fugiat. Sint accusantium id similique unde suscipit officia.  Sint accusantium id similique unde suscipit officia.</div>
                </div>
         </div>
        </div>
    </section>
    <section class="section_small_box">
        <div class="container">
            <div class="small_box prague1"></div>
            <div class="small_box prague2"></div>
            <div class="small_box prague3"></div>
        </div>
    </section>
    <footer>
        <div class="container">
            <div class="footer_copyright">Copyright</div>
            <div class="footer_logo">Logo</div>
        </div>
    </footer>
</body>
</html>
