* {
    box-sizing: border-box;
}
header, section, footer {
    width: 1200px;
    padding: 10px;
}
header, footer {
    min-height: 80px;
}
header {
    background: #d2e1f4;
    color: #4c4436;
}
.container {
    width: 70%;
    margin: 0 auto;
    overflow: auto;
}
nav {
    float: right;
    width: 60%;
}
.header_nav {
    float: right;
}
.header_nav li {
    text-transform: uppercase;
    list-style: none;
    display: inline;
    margin-right: 1.3em;
}
.header_logo {
    float: left;
    width: 40%;
    font-size: 2em;
}
.row {
    margin: 10px 0;
    min-height: 300px;
}
.big_box_left {
    float: left;
    background: #d2e1f4;
    color: #7f725a;
    padding: 10px;
}
.big_box {
    width: 50%;
    min-height: 250px;
    margin: 20px 0;
}
.big_box_right {
    float: right;
    color: #7f725a;
}
.section_title {
    text-transform: uppercase;
    margin-left: 2em;
}
.section_text {
    margin: 2em 2em;
}
.section_small_box {
     background: #d2e1f4;
}
.small_box {
    width: 32%;
    float: left;
    height: 150px;
    border: #4c4436 solid 1px;
    margin: 20px 5px;
    background: white;
    color: #4c4436;
    background-size: cover;
    border-radius: 2px;
    opacity: 0.75;
}
.prague1 {
    background-image: url("../img/Prague1.jpg");
}
.prague2 {
    background-image: url("../img/Prague2.jpg");
}
.prague3 {
    background-image: url("../img/Prague3.jpg");
}
footer {
    margin-top: 30px;
    color: #4c4436;
}
.footer_copyright {
    float: left;
}
.footer_logo {
    float: right;
}
